/* Ajout de border radius, changement de la couleur de fond et de la couleur du texte */

.flex-container {
    display: flex;
    margin-top: 20px;
}

.left-box {
    flex: 1;
    padding-right: 20px;
    background-color: #000; /* Fond de la div en noir */
    color: #fff; /* Couleur du texte en blanc */
    border-radius: 10px; /* Ajout de border radius */
}

.right-box {
    flex: 1;
    padding-left: 20px;
    background-color: #000; /* Fond de la div en noir */
    color: #fff; /* Couleur du texte en blanc */
    border-radius: 10px; /* Ajout de border radius */
}

h2 {
    color: #ffffff;
    font-family: 'Passion One', sans-serif; /* Changement de la police pour h2 */
}

p {
    line-height: 1.6;
    color: rgb(255, 255, 255);
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

.PUB {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Ajout de overflow: hidden pour résoudre le problème */
    background-color: #fff3f3; /* Fond de la div en noir */
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Ajout de border radius */
}

.PUB img {
    width: 100%; /* Assure que l'image remplit la largeur du conteneur */
    height: auto;
    display: block; /* Supprime l'espace réservé sous l'image */
}
