

<div class="menu">
    <!-- Produit -->
    <div class="card">
        <a href="routeur.php?action=displayProduit">
            <img src="view/img/2.png" alt="Produit Image">
            <div class="card__content">
                <p class="card__title">Produit</p>
                <p class="card__description">Gérer les produits</p>
            </div>
        </a>
    </div>

    <!-- Ingrédient -->
    <div class="card">
        <a href="routeur.php?action=displayIngredient">
            <img src="view/img/1.png" alt="Ingrédient Image">
            <div class="card__content">
                <p class="card__title">Ingrédient</p>
                <p class="card__description">Gérer les ingrédients</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>